{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container" role="main">
		<div class="jumbotron">
			<h3 style="margin: 0px; padding: 0px;">Create Project</h3>
		</div>
		<div class="panel panel-default">
			<form method="post" action="/project/formsuccess" class="panel-body validate">
				{% csrf_token %}
				<label for="name">Name</label>
				<h6 style="color:red">{{ error }}</h6>
				<input type="text" name="name" id="name" placeholder="Name" class="form-control" data-bvalidator="required" data-bvalidator-msg="Name Required">
				<br>
				<label for="description">Description</label>
				<input type="text" name="description" id="description" placeholder="Description" class="form-control" data-bvalidator="required" data-bvalidator-msg="Description Required">
				<br>
				<label for="years_of_experience">Years of Experience</label>
				<input type="text" name="years_of_experience" id="years_of_experience" placeholder="years of experience" class="form-control" data-bvalidator="required" data-bvalidator-msg="Years Of Experience Required">
				<br>
				<label for="programming_language">Programming Language</label>
				<input type="text" name="programming_language" id="programming_language" placeholder="programming language" class="form-control" data-bvalidator="required" data-bvalidator-msg="programming language Required">
				<br>
				<label for="speciality">Speciality</label>
				<input type="text" name="speciality" id="speciality" placeholder="speciality" class="form-control" data-bvalidator="required" data-bvalidator-msg="Speciality Required">
				<br>
				<input type="submit" value="Submit" class="btn btn-primary">
			</form>
		</div>
	</div>
	
{% endblock %}