{% extends "body.html" %}

{% block head_title %}{{ page_name }} | {% endblock %}

{% block content %}

<head>
    {{ student_form.media }}
    {{ professor_form.media }}
    {{ engineer_form.media }}
</head>

<div class="container" role="main">
	<div class="panel panel-default">
		<form method="POST" class="panel-body validate" novalidate> {% csrf_token %}
			{{ form.as_p }}
			{{ student_form.as_p }}
			{{ professor_form.as_p }}
			{{ engineer_form.as_p }}
			<input type="submit" class='btn btn-primary' value="{{ button_value }}">
		</form>
	</div>
</div>

{% endblock %}