
{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container" role="main">
		<div class="jumbotron">
			<h3 style="margin: 0px; padding: 0px;">Add User</h3>
		</div>
		<div class="panel panel-default">
			<form method="post" action="/group/success" class="panel-body validate">
				{% csrf_token %}
				<label for="email">Email</label>
				<h6 style="color:red">{{ error }}</h6>
				<input type="text" name="email" id="email" placeholder="Email" class="form-control" data-bvalidator="required" data-bvalidator-msg="Name Required">
				<br>
				<label for="group">Group</label>
				<input type="text" name="group" id="group" placeholder="Group" class="form-control" data-bvalidator="required" data-bvalidator-msg="Group Required">
				<br>
				<input type="submit" value="Submit" class="btn btn-primary">
			</form>
		</div>
	</div>
	
{% endblock %}