{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>{{ group.name }}</h1>
			<p>{{ group.description }}</p>
			{% if userIsMember %}
			<a href="/group/unjoin?name={{ group.name }}" class="btn btn-default">Unjoin this Group</a>
			<a href="/group/join?name={{ group.name }}" class="btn btn-default">Add a Student</a>
			<a href="/group/remove?name={{ group.name }}" class="btn btn-default">Delete Group</a>
			{% endif %}
		</div>
	</div>
	
	<div class="container">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Groups Members</th>
					</tr>
				</thead>
				<tbody>
					{% for item in group.members.all %}
					<tr>
						<td>{{ item.get_full_name }}</td>
						<td>{{ item.get_skills }}</td>
						<td>{{ item.get_experience }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	<div class="container">
			{% if IsProject %}
			{% if IsCompany %}
			<h4>Project Assigned to the Group</h4>
			<a href="/company?name={{ Company.name }}">{{ Project.name }}</a>
			<p>{{Project.description}}</p>
			{% else %}
			<h6>{{ Project.name }}</h6>
			<p>{{Project.description}}</p>
			{% endif %}
			{% else %}
			{% if userIsMember %}
			<h4>Suggested Projects</h4>
			<a href="/project?name={{ Project1.name }}">{{ Project1.name }}</a>
			<p>{{Project1.description}}</p>
			<a href="/project?name={{ Project2.name }}">{{ Project2.name }}</a>
			<p>{{Project2.description}}</p>
			<a href="/project?name={{ Project3.name }}">{{ Project3.name }}</a>
			<p>{{Project3.description}}</p>
			{% endif %}
			{% endif %}
	</div>
	</div>

	<div class="container theme-showcase" role="main"> 
		<div>
			{% if userIsMember %}
			<a href="/group/unjoin?name={{ group.name }}" class="btn btn-default">Unjoin this Group</a>
			<a href="/group/join?name={{ group.name }}" class="btn btn-default">Add a Student</a>
			{% endif %}
		</div>
	</div>		
    <div class="container" role="main">
        <div class="table-responsive">
            <table class="table table-striped sortable">
                <thead>
                    <tr>
                      <th style="width: 20%">Time</th>
                        <th style="width: 20%">User ID</th>
                        <th style="width: 50%">Comment</th>
                        <th style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>
                   {% for item in comments %}
                   <tr>
                       <td>{{ item.time }}</td>
                       <td>{{ item.user }}</td>
                       {% autoescape off %}
                       <td>{{ item.comment }}</td>
                       {% endautoescape %}
                       <td>
                       {% if item.user == currentUser %}
                       <a href="/comments/remove?id={{ item.id }}&user={{ item.user }}" class="btn btn-default">Delete</a>
                       {% else %}
                       {% endif %}
                       </td>
                   </tr>
                   {% endfor %}
                </tbody>
            </table>
            <a href="/addcomment" class="btn btn-default">Add Comment</a>
        </div>
    </div>
{% endblock %}